/* Importing from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&family=DotGothic16&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  font-size: 2rem;
  color: white;
}

h1,
h2,
h3,
footer {
  font-family: "DotGothic16", serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  text-align: left;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.5rem;
  /* text-indent: 35px; */
}

ul {
  list-style-type: square;
}

footer {
  font-size: 2.5rem;
  width: 5%;
  height: auto;
  margin: 30px auto;
}

a {
  color: white;
}

a:hover {
  color: rgb(249, 180, 89);
}

a:active {
  color: rgb(248, 71, 71);
}

button {
  font-family: "Chakra Petch", sans-serif;
}

.italics {
  font-style: italic;
}

/* Flex centering */

.siteTitle,
.siteDirectory,
.siteLinks li {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation Bar */
/* Code from W3Schools */
/* https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 16px 16px 16px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openButton {
  position: fixed;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: ridge 2px rgb(119, 119, 119);
}

.openButton:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.navigationButton {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Back To Top Button */
/* Code from W3Schools */
/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: ridge 2px rgb(119, 119, 119);
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.5rem; /* Increase font size */
}

#topButton:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Video Background */
/* Code from W3Schools */
/* https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
/* Style the video: 100% width and height to cover the entire window */
#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
}

/* index.html */

.siteLinks ul {
  width: 25%;
  height: auto;
  border: ridge 7px white;
  background-color: black;
  /* position: relative; */
  /* Centering the border box */
  margin: 0 auto;
  /* Removing ul padding */
  /* https://stackoverflow.com/questions/9620594/removing-ul-indentation-with-css */
  padding: 0;
  list-style-type: none;
}

.siteLinks li {
  font-size: 2rem;
  margin: 30px 0;
}

/* exercises.html */
.exerciseArticle {
  width: 60%;
  height: auto;
  padding: 20px 40px;
  /* Centering articles */
  margin: 75px auto;
  text-align: center;
  background-color: black;
  border: ridge 5px white;
}

.exerciseArticle h3 {
  margin-bottom: 50px;
  text-decoration: underline;
  text-underline-offset: 15px;
}

.creditsArticle {
  width: 50%;
  height: auto;
  /* Centering articles */
  margin: 75px auto;
  background-color: black;
  border: ridge 5px white;
}

.creditsArticle h3 {
  text-align: center;
}

.creditsArticle ul {
  padding-left: 170px;
}

.creditsArticle li {
  margin: 30px 0;
}
